header {
	color:#FFF;
	height:70px;
	width:100%;
	border-bottom:1px solid #CCCCCC;
}
header.logo {
	padding:left 20px;
	background-image:url("../images/logo.png");
	background-repeat:no-repeat;
	height:100%;
	display:block;
}
