body {
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-color:#484848;
	display:flex;
	flex-direction:column;
}
body .container {
	max-width:1000px;
	margin:30px auto;
}

